<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compra</title>
    <link rel="stylesheet" href="css/carrito.css">
</head>
<body>
<!--==================HEADER==================-->

<!--==================MAIN==================-->
    <main>
        <div class="container1">
            <div class="title-order">
                <h2>BOLSA DE PEDIDOS</h2>
            </div>
            <div class="title-cart">
                <h3>MI CARRITO</h3>
            </div>
            <div class="btn-buy">
                <button>CONTINUAR COMPRANDO</button>
            </div>
        </div>
        <div class="container2">
            <div class="image">
                <img src="../public/img/margarita.jpeg" alt="">
            </div>
            <div class="description">
                <div class="title">
                    <h3>MARGARITA SPICE</h3>
                </div>
                <div class="detail">
                    <p>Un exquisito cocktail que contiene:-Vodka- Jugo de lima- Cordial de frutos rojos-
                        Cerezas patagónicas
                        Se decora con el garnish de cerezas.
                        Beber con moderación. Prohibida su venta a...</p>
                </div>
            </div>
            <div class="priceperunit">
                <p>$450 c/u</p>
                <!-- ??? -->
            </div>
            <div class="quantity">
                <p>Cant. 1</p>
                <!-- ??? -->
            </div>
            <div class="finalprice">
                <p>$450 c/u</p>
            </div>
            <div class="trash">
                    <a href="carrito/quitar/6" class="cart-delete text-muted" data-toggle="tooltip" title="" data-original-title="Quitar del carrito">
                        <i class="fa fa-trash fa-fw fa-2x"></i>
                    </a>
            </div>
        </div>
    </main>



<!--==================FOOTER==================-->
    <footer>
        <div class="main-content2">
        <div class="left2 box2">
            <h2>Sobre Nosotros</h2>
            <div class="content2">
            <p>Estamos aqui para sacar a relucir tu GENIALIDAD como profecional y marca. Porque TODOS somos especiales.</p>
            <p>Sin embargo, no sabemos de qué forma convencer a los demás de que somos unos genios en nuestro campo.</p>
            <p>Este es mi trabajo y por eso estas aqui.</p>
            <div class="social2">
                <a href="https://facebook.com/pablomartin.morrone"><span class="fa fa-facebook-f"></span></a>
                <a href="http://twitter.com/"><span class="fa fa-twitter"></span></a>
                <a href="https://instagram.com/"><span class="fa fa-instagram"></span></a>
                <a href="https://youtube.com/"><span class="fa fa-youtube"></span></a>
            </div>
            </div>
        </div>
        <div class="center2 box2">
            <h2>Direccion</h2>
            <div class="content2">
                <div class="place2">
                    <span class="fa fa-map-marker"></span>
                    <span class="text2">El Arreo 220, La Reja</span>
                </div>
                <div class="phone2">
                    <span class="fa fa-phone"></span>
                    <span class="text2">+54-911-38669097</span>
                </div>
                <div class="email2">
                    <span class="fa fa-envelope"></span>
                    <span class="text2">brainstorming@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="right2 box2">
            <h2>Contacta con nosotros</h2>
            <div class="content2">
            <form action="#">
                <div class="email2">
                <div class="text2">Email *</div>
                <input type="email" required>
                </div>
                <div class="msg2">
                <div class="text2">Mensaje *</div>
                <textarea rows="2" cols="25" required></textarea>
                </div>
                <div class="btn2">
                <button type="submit">Enviar</button>
                </div>
            </form>
            </div>
        </div>
        </div>
        <div class="container-map2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.843800421494!2d-58.83752258502619!3d-34.63338736657504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc93fbdd82d7b1%3A0x6a5d8a92f152c39!2sEl%20Arreo%20250%2C%20La%20Reja%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1613067829897!5m2!1ses-419!2sar" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="bottom2">
        <center>
            <span class="credit2">Creado por <a href="#">Brainstorming</a> | </span>
            <span class="fa fa-copyright"></span><span> 2021 Todos los derechos reservados.</span>
        </center>
        </div>
    </footer>
</body>
</html>