/*==================================================
    HACE TU PEDIDO
==================================================*/
.producto_barra {
    margin-top: 80px;
    height: 30px;
    background-color: var(--beige);
}
.producto_barra hr {
    border: 2px solid var(--negro);
}
.producto_pedido {
    background-color: var(--beige);
    height: 40px;
}
.producto_pedido_icono {
    width: 25px;
    height: 25px;
    background-color: var(--negro);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
}
.producto_pedido_icono i {
    text-align: center;
    justify-content: center;
    font-size: 16   px;
    margin-top: 5px;
    color: var(--blanco);
}
.pedido {
    background-color: var(--beige);
}
.pedido .pedido_titulo h2 {
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
}
.pedido .pedido_hora h4 {
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
.pedido_numero h2 {
    text-align: center;
}
.pedido_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
}
