/*==================================================
    Tipografía
==================================================*/

@font-face {
    font-family: 'Bebas Neue';
    font-style: regular;
    src: url('/fonts/BebasNeue-Regular.ttf');
}

/*==================================================
    Estilo Global
==================================================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==================================================
    Estilo del Body
==================================================*/

body {
    font-family: 'Bebas Neue', cursive;
}

/* CONTENEDOR TITULO */
.container-form {
    display: flex;
    /* border: 2px solid black; */
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form-register {
    width: 100%;
    /* border: 2px solid brown; */
}

.container-title h1 {
    font-size: 34px;
    color: var(--rosado);
}

.container-title h2{
    display: none;
}


/* CONTENEDOR DE CAMPOS REGISTROS */

.field-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid green; */
}

.form-group {
    width: 100%;
    /* border: 1px solid red; */
}

.form-group input {
    width: 100%;
    height: 40px;
    padding: 7.15px 15px;
    font-family: 'Bebas Neue';
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 15px;
    color: var(--grisClaro);
    border: 2px solid var(--rosado);
}

.form-group input::placeholder {
    color: var(--rosado);
}

.form-group input:focus {
    outline: none;
    border: 2px solid var(--rosado);
    border-top: 3px solid var(--rosado);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.form-group select {
    width: 100%;
    height: 40px;
    padding: 7.15px 15px;
    font-family: 'Bebas Neue';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 15px;
    color: #555555;
    border: 2px solid var(--rosado);
}

.form-group select option {
    /* font-size: 1.25rem; */
    font-style: normal;
    font-weight: normal;
    color: #555555;
}

.form-group select:focus {
    font-style: normal;
    font-weight: normal;
    outline: none;
    border: 2px solid var(--rosado);
    border-top: 3px solid var(--rosado);
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.form-group p {
    font-family: sans-serif;
    font-size: 10px;
    color: var(--grisClaro);
    margin-bottom: 15px;
}

.form-group h4 {
    font-style: normal;
    font-weight: normal;
    color: var(--rosado);
    margin-bottom: 14px;
}

.field-street {
    display: flex;
    flex-direction: column;
    /* border: 1px solid cyan; */
}

.field-place {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(24, 9, 92); */
}

/* SECTOR DE CONTRASEÑAS */

.line-container {
    margin-top: 15px;
    margin-bottom: 30px;
    border-top: 1px solid var(--grisClaro);
}

.pass-container {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    height: 40px;
    /* border: 1px solid violet; */
    justify-content: flex-end;
}

.button-register {
    width: 40%;
    /* border: 1px solid purple; */
}

.button-register button {
    width: 100%;
    height: 100%;
    font-family: 'Bebas Neue';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    color: var(--rosado);
    padding: 0;
}

/*** CAMBIO COLOR A BOTÓN GROW BOX ***/
.ov-btn-grow-box {
    color: var(--rosado) !important; /* color de fuente */
    border: 2px solid var(--rosado) !important; /* tamaño y color de borde */
}

.ov-btn-grow-box:hover {
    color: var(--blanco) !important;/* color de fuente hover */
}

.ov-btn-grow-box::after {
    background: var(--rosado) !important; /* color de fondo hover */
}


/*==================================================
    HACE TU PEDIDO
==================================================*/

.producto_barra {
    margin-top: 80px;
    height: 30px;
    background-color: var(--beige);
}

.producto_barra hr {
    border: 2px solid var(--negro);
}

.producto_pedido {
    /* margin-top: 40px; */
    background-color: var(--beige);
    height: 40px;
}

.producto_pedido_icono {
    width: 25px;
    height: 25px;
    background-color: var(--negro);
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: auto;
}

.producto_pedido_icono i {
    text-align: center;
    justify-content: center;
    font-size: 16   px;
    margin-top: 5px;
    color: var(--blanco);
}

.pedido {
    background-color: var(--beige);
}

.pedido .pedido_titulo h2 {
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
}

.pedido .pedido_hora h4 {
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.pedido_numero h2 {
    text-align: center;
}

.pedido_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
}


/*================================================
FOOTER
================================================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

footer {
    bottom: 0px;
    width: 100%;
    background: #111;
    font-family: 'Poppins', sans-serif;
}
  
.main-content2 {
    color: #d9d9d9;
    display: flex; 
}

.main-content2 .box2 {
    flex-basis: 50%;
    padding: 10px 20px; 
}

.main-content2 .box2 h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase; 
}

.main-content2 .box2 .content2 {
    margin: 20px 0 0 0;
    position: relative; 
}
  
.box2 .content2:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a; 
}
  
.box2 .content2:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px; 
}
  
.left2 .content2 p {
    text-align: justify; 
}
  
.left2 .content2 .social2 {
    margin: 20px 0 0 0; 
}

.left2 .content2 .social2 a {
    padding: 0 2px;
    text-decoration: none;
    color: #d9d9d9; 
}

.left2 .content2 .social2 a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s; 
}

.left2 .content2 .social2 a span:hover {
    background: #f12020; 
}
  
.center2 .content2 .text2 {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px; 
}
  
.center2 .content2 .fa {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer; 
}
  
.center2 .content2 .fa:hover {
    background: #f12020; 
}
  
.center2 .content2 .phone2 {
    margin: 10px 0; 
}
  
.right2 form .text2 {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565; 
}
  
.right2 form .msg2 {
    margin-top: 10px; 
}
  
.right2 form input, .right2 form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222; 
}
  
.right2 form input:focus,
.right2 form textarea:focus {
    outline-color: #3498db; 
}
  
.right2 form input {
    height: 35px; 
}
  
.right2 form .btn2 {
    margin-top: 10px; 
}
  
.right2 form .btn2 button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s; 
}
  
.right2 form .btn2 button:hover {
    background: #000; 
    color: #fff;
}
  
.bottom2 center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515; 
}
  
.bottom2 center span {
    color: #656565; 
}
  
.bottom2 center a {
    color: #f12020;
    text-decoration: none; 
}
  
.bottom2 center a:hover {
    text-decoration: underline; 
}
  
@media screen and (max-width: 767px) {
    footer {
        position: relative;
        bottom: 0px; 
    }

    .main-content2 {
        flex-wrap: wrap;
        flex-direction: column; 
    }
    .main-content2 .box2 {
        margin: 5px 0; 
    } 

}


/*==================================================
    PUNTOS DE QUIEBRES
==================================================*/

/*==================================================
    TABLET
==================================================*/

@media (min-width: 481px) {

    .form-register {
        display: flex;
        width: 100%;
    }

    /* CONTENEDOR TITULO */
    .container-form {
        width: 80%;
    }

    .form-register {
        display: flex;
        flex-direction: column;
    }

    .container-title h2{
        display: block;
        font-size: 28px;
        font-style: normal;
        font-weight: normal;
        color: var(--rosado);
    }

    .form-container {
        width: 100%;
        /* border: 2px solid #B5A37D; */
    }

    .field-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 2px solid #b37b03; */
    }

    .fieldA-container {
        width: 48%;
        /* border: 1px solid yellow; */
    }

    .fieldB-container {
        width: 48%;
        /* border: 1px solid pink; */
    }

    .container-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid blue; */
    }

    .field-street {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 1px solid cyan; */
    }

    .street {
        width: 60%;
    }

    .numbers {
        width: 30%;
    }

    .field-place {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 1px solid rgb(24, 9, 92); */
    }

    .floor {
        width: 29%;
    }

    .department {
        width: 29%;
    }

    .code {
        width: 29%;
    }

    .pass-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .password {
        width: 48%;
    }

    .repeatPass {
        width: 48%;
    }

}

/*==================================================
    LAPTOP
==================================================*/

@media (min-width: 769px) {

    /* CONTENEDOR TITULO */
    .container-form {
        width: 70%;
    }

}

/*==================================================
    TV
==================================================*/

@media (min-width: 1279px) {

    /* CONTENEDOR TITULO */
    .container-form {
        width: 60%;
    }

}
